body {
    background: #cfa5a5;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    background: rgb(231, 208, 208);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: black;
    color: rgb(228, 219, 219);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
